node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.next
**/.next
dist
**/dist
**/bin
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
.terraform
**/.terraform
*.tfstate
*.tfstate.*
.git
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
